---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import OpenEWSLogo from "../assets/images/open-ews-logo.png";
import DemoScreen from "../assets/images/demo-screen.png";

import GSMALogo from "../assets/images/GSMA_logo.png";
import PINLogo from "../assets/images/People_in_Need_logo.png";
import UnicefLogo from "../assets/images/unicef_logo.png";
---

<Layout>
  <header class="navbar navbar-expand-lg navbar-transparent py-3">
    <div class="container">
      <a href="#" class="navbar-brand">
        <Image
          src={OpenEWSLogo}
          alt="OpenEWS's Logo"
          class="navbar-brand-image"
        />
      </a>

      <div class="collapse navbar-collapse">
        <nav class="navbar-nav ms-auto">
          <div class="nav-item">
            <a class="nav-link active" href="#"
              ><span class="nav-link-title">Home</span></a
            >
          </div>
          <div class="nav-item">
            <a class="nav-link" href="#"
              ><span class="nav-link-title">Documentation</span></a
            >
          </div>
          <div class="nav-item ms-4">
            <a href="#" class="btn btn-primary">Source Code</a>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <div class="hero pb-0">
    <div class="container">
      <h1 class="hero-title">
        The world's first Open Source <br />
        Emergency Warning System Dissemination Platform
      </h1>
      <p class="hero-description hero-description-wide">
        OpenEWS is intended to be used by Governments and/or NGOs acting on
        behalf of Governments to disseminate warning messages to beneficiaries
        in case of a natural disaster or other public health emergency.
      </p>

      <div class="hero-img img-overlap-margin">
        <Image src={DemoScreen} alt="Demo" class="img-fluid" />
      </div>
    </div>
  </div>

  <section class="section section-light pt-0">
    <div class="container">
      <div class="section-header mb-6">
        <h2 class="section-title text-secondary">Our Partners</h2>
      </div>
      <div class="row g-8 align-items-center justify-content-center">
        <div class="col-auto">
          <Image
            src={GSMALogo}
            alt="GSMA's Logo"
            width="200px"
            class="img-fluid"
          />
        </div>
        <div class="col-auto">
          <Image
            src={PINLogo}
            alt="PIN's Logo"
            class="img-fluid"
            width="200px"
          />
        </div>
        <div class="col-auto">
          <Image
            src={UnicefLogo}
            alt="Unicef's Logo"
            width="200px"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="py-3 border-top-light text-center text-lg-start">
        <div class="row g-4">
          <div class="col-lg-auto text-lg-end order-lg-last">
            <div class="row justify-center">
              <div class="col-auto">© Somleng</div>
              <div class="col-auto">
                <ul class="list-inline list-inline-dots">
                  <li class="list-inline-item">
                    <a class="link-secondary" href="/terms-of-service"
                      >Terms of service</a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a class="link-secondary" href="/privacy-policy"
                      >Privacy policy</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg">
            Made with
            <!-- Download SVG icon from http://tabler.io/icons/icon/heart -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon text-red icon-inline icon-4"
            >
              <path
                d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
              ></path>
            </svg>
            from <a
              href="https://somleng.org"
              target="_blank"
              class="link-secondary">Somleng</a
            >.
          </div>
        </div>
      </div>
    </div>
  </footer>
</Layout>
